@import url("https://rsms.me/inter/inter-ui.css");
body {
  font-family: 'Inter UI', 'SF UI', Helvetica, Arial, sans-serif;
  font-size: 2.4em;
  padding: 48pt; }
  body.grid {
    margin: 0 auto; }
    body.grid header {
      display: grid;
      grid-template-rows: 240px 240px 240px;
      grid-template: "a a a a" "h h h h" "d x x x"; }
      body.grid header .anteTitulo {
        font-size: 0.8em;
        font-weight: bold;
        grid-area: a;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template: "f u"; }
        body.grid header .anteTitulo .fecha {
          grid-area: f; }
        body.grid header .anteTitulo .ubicacion {
          grid-area: u;
          text-align: right; }
      body.grid header h1 {
        font-weight: black;
        font-size: 2.8em;
        grid-area: h; }
      body.grid header .divider {
        background-color: #000;
        height: 24px;
        width: 360px;
        grid-area: d; }
