@import url('https://rsms.me/inter/inter-ui.css');

$white:#fff;
$black: #000;
$grey:#999; 
$DOSblue: #2a9dd6;
$DOSyellow: #ffd658;

.padded {
    padding: 48px;
}

body {
    font-family: 'Inter UI', 'SF UI', Helvetica, Arial, sans-serif;
    font-size: 2.4em;

    h1{
        font-weight: 900;
        font-size: 3em;
        grid-area: h;
        letter-spacing: -0.03em;
    }

    h2 {
        font-size: 2em;
    }

    h4 {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        
    }

    .ponenteBlock {

        display: grid;
        grid-template-columns: 144px 1fr;
        grid-column-gap: 48px;
        margin-bottom: 72px;

        .avatar {
            width: 144px;
            height: 144px;
            border-radius: 100%;
            background-color: $grey;
            grid-column: 1/2;
            grid-row: 1/2; 
        }

        .ponenteInfo {
            grid-column: 2/3;
            grid-row: 1/2;

            h3 {
                margin: 0 0 12px 0;
                font-size: 1.8em;
            }
        }
    }

    &.grid {
        margin: 0 auto;

        .pageOne { 
            min-height: 100vh;
        }

        .negative {
            background-color: $black;
            color: $white;
        }

        header{
            display: grid;
            grid-template-rows: 240px 240px 240px;
            grid-template: "a a a a"
                           "h h h h"
                           "d x x x";
            .anteTitulo{
                font-size: 0.8em;
                font-weight: bold;
                grid-area: a;
                display: grid; 
                grid-template-columns: 1fr 1fr;
                grid-template: "f u";

                .fecha {
                    grid-area: f;
                }
                .ubicacion {
                    grid-area: u;
                    text-align: right;
                }
            }

            .divider{
                background-color: #000;
                height: 24px;
                width: 360px;
                grid-area: d;
            }

           
        }

        .presentacion {
            padding-top: 96px;
        }
    }

    footer {
        .padded{
            padding: 48px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 24px;
            

            div {
                text-align: center;
                margin-bottom: 48pxa;
            }
            
            .patrocina {
                text-align: right;
            }
        }
    }

    /**  DESKTOP VERSION **/
    @media only screen and (min-device-width: 768px) {
        font-size: 1.2em;

        .padded{
            max-width: 1000px;
            margin: 0 auto;
        }

        h1 {
            font-size: 7em;
        }

        .ponenteBlock {
            display: grid;
            grid-template-columns: 96px 1fr;
            grid-column-gap: 24px;
            margin-bottom: 72px;

            .avatar {
                width: 96px;
                height: 96px;
                border-radius: 100%;

                grid-column: 1/2;
                grid-row: 1/2;
            }
            .ponenteInfo {
                padding-top: 12px;
                grid-column: 2/3;
                grid-row: 1/2;
    
                h3 {
                    margin: 0 0 12px 0;
                    font-size: 1.8em;
                }
            }
        }
    }
}

